

body {
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#fact-en {
    color: blue;
}

#fact-jp {
    color: red;
}

.web-photo{
    position: absolute;
    top: 0;
    left: 25px;
    display: flex;
    align-items: center;
    cursor: grab;
    animation: swing 5s infinite ease-in-out;
}

.web-line{
    width: 2px;
    height: 500px;
    background: linear-gradient(to bottom, #ccc, #aaa);
}

.hanging-photo{
    margin-top: -5px;
    width: 150px;
    transform-origin: top center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: swing 5s infinite ease-in-out;
}

@keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

:root {
   --pixel-size: 0.2;
}

body {
   background: #96ffc1;
}
.Character-container {
   position: absolute;
   top: 10px;
   left: 0px;
   animation: walk-across 4s linear infinite;
}
.Character {
   width: calc(300px * var(--pixel-size));
   height: calc(340px * var(--pixel-size));
   overflow: hidden;
   position: relative;
   margin: 4em auto;
}

.Character_spritesheet {
   animation: moveSpritesheet 1s steps(4) infinite;
   width: calc(1200px * var(--pixel-size));
   position: absolute;
   image-rendering: pixelated;
}
@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}
 @keyframes walk-across {
    from { background-position: 0 0; }
    to { background-position: -1200px 0; }
    
 }