body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('images/grain.png');
    opacity: 0.4;
    pointer-events: none;
    z-index: -1;
}

body {
    background: radial-gradient(circle, #fdf6e3 0%, #f5e7c4 100%);
    background-attachment: fixed;
    color: #3b2f2f;
    font-family: 'Georgia', serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 500px;
}

#fact-en {
    color: blue;
}

#fact-jp {
    color: red;
}

.swing-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: swing 5s infinite ease-in-out;
}

.web-photo{
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    cursor: grab;
    justify-content: center;
}

.web-line{
    width: 2px;
    height: 300px;
    background: linear-gradient(to bottom, #ccc, #aaa);
}

.hanging-photo{
    width: 150px;
    transform-origin: top center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: 0;
}

@keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}
:root{
    --pixel-size: 0.3;
}

.spiderman-container{
    position: absolute;
    top: 40px;
    left: 0;
    width: calc(300px * var(--pixel-size));
    height: calc(300px * var(--pixel-size));
    image-rendering: pixelated;
    animation: moveRight 10s linear infinite;
}

.spiderman{
    position: absolute;
    width: auto;
    height: 100%;
    image-rendering: pixelated;
}

@keyframes moveRight {
    0% { left: 0; }
    100% { left: calc(100vw - 64px); }
}