body {
    display: flex; /* centers the gallery */
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

h1 {
    display: flex; /* centers the gallery */
    justify-content: center;
    align-items: left;
    height: 100vh;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#fact-en {
    color: blue;
}

#fact-jp {
    color: red;
}
.gallery{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d; /* enables 3D transformations */
}
.gallery img{
    position: absolute; /* allows images to rotate circular */
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px; /* rounds the corners */
    transition: transform 0.5s ease-out; /* smoothens the transition */
    cursor: pointer; /* changes cursor to pointer */
}
.tooltip{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    display: none; /* hides the tooltip */
    text-align: center;
    max-width: 200px;
}
